<section data-ng-controller="HomeController" data-ng-init="initializeSearch()" class="topContainer">
	<!-- <div class="jumbotron text-center" >
 -->

		<div class="search">
            <h2>SEARCH APARTMENTS & HOMES</h2>
            <form>
                
                    <input type="text" id="inputBox" ng-model="inputBox">
                    <input type="submit" value="SEARCH" data-ng-click="search()" id="search" href>
                
            </form>
		</div>
		
	<!-- </div>. -->
	
</section>
