<!-- List Accomodation region -->
<section data-ng-controller="AccomodationsController" data-ng-init="find()">
    <div id="displaySearch">
        <div class="container" >
            <div class="row" >
                <div class="alert alert-warning text-center" data-ng-hide="!accomodations.$resolved ||  accomodations.length">
                No Accomodations yet, why don't you <a href="/#!/accomodations/create">create one</a>?
                </div>

                    <!-- List all accomodation -->
                    
                    <a data-ng-repeat="accomodation in accomodations" data-ng-href="#!/accomodations/{{accomodation._id}}">
                        <div class="col-xs-10 col-sm-12 col-md-5 col-lg-6 " style="margin-top:2%" >
                            <div class="panel panel-primary">
                                <div class="row padall">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" data-ng-model="photos">
                                        <span></span>
                                        <img  data-ng-src="{{accomodation.image[0].path}}" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span class="fa fa-dollar icon"> {{ccomodation.price}}</span>
                                            </div>
                                            <div class="pull-right">
                                                {{accomodation.tag}}                                
                                            </div>
                                        </div>
                                        <div>
                                            <h4><i class="icon-large icon-search"></i></span>{{accomodation.address}}</h4>
                                             <span class="fa fa-search icon pull-right" style="text-transform:uppercase">{{search.location}}</span>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>    
    </div>
</section>
