<section data-ng-controller="AccomodationsController"  class="searchTemplate">
    <div class="searchContainer">
        <div id="locationSearch">
            <div id="loc">
                <h3>Location</h3>
                
            </div>

            <div id="inp">
                <input type="text" id="inputCircle">
                    
                </input>
            </div>
             
            <div id="sub">
                <input type="submit">
                
                </input>
            </div>

        </div> 

        <div id="displaySearch">
            <div id="content">
                <div id="head">
                    
                </div>

                <div id="body">
                    <div class="bodyleft">
                        
                    </div>

                    <div class="bodyright">
                       <div class="brname">
                           
                       </div>
                       <div class="brprice">
                           
                       </div> 
                    </div>
                </div>

            </div>

            <div id="filter">
                
            </div>

        </div>      
    </div>
</section>
