
<!-- Search accomodation Section-->

<section data-ng-controller="HomeController"  class="searchTemplate" >
    <div class="searchContainer">

        <!-- Input form -->

        <form id="locationSearch" data-ng-submit="search()">
            <div id="loc">
                <h3>Location</h3>
            </div>
            <div id="inp">
                <input type="text" id="inputBox" data-ng-model="inputBox" required></input>
            </div>
            <div id="sub">
                <input type="submit"></input>
            </div>
        </form> 

        <!-- Display Results Region -->

        <div id="displaySearch">
            <div class="container" >
                <div class="row" >
                    <div  class="text-center text-danger">
                        <strong data-ng-show="error" >SEARCH NOT FOUND.TRY ANOTHER LOCATION</strong>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " data-ng-repeat="search in accomodation | orderBy:location " >
                        <div class="panel panel-primary">
                            <div class="row padall">
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" data-ng-model="photos">
                                    <span></span>
                                    <img data-ng-src="{{search.image[0].path}}" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <span class="fa fa-dollar icon"> {{search.price}}</span>
                                        </div>
                                        <div class="pull-right">
                                            {{search.tag}}                                
                                        </div>
                                    </div>
                                    <div>
                                        <h4><i class="icon-large icon-search"></i></span>{{search.address}}</h4>
                                         <span class="fa fa-search icon pull-right" style="text-transform:uppercase">{{search.location}}</span>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>  
    </div>
</section>
