<section data-ng-controller="AccomodationsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="accomodation.tag"></h1>
	</div>
	<div class="pull-right" >
		<a class="btn btn-primary" href="/#!/accomodations/{{accomodation._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<a class="btn btn-primary" href="/#!/accomodations/{{accomodation._id}}/editPhoto" >
			<i class="glyphicon glyphicon-photo"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="accomodation.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="accomodation.user.displayName"></span>
		</em>
	</small>
</section>